<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientID</key>
	<string>7d2436204ed523fa28c3</string>
	<key>clientSecret</key>
	<string>8714a19db01dcc5ae8e2e8bec283a28e36d26265</string>
</dict>
</plist>
